[submodule "submodules/tomobase"]
	path = submodules/tomobase
	url = https://github.com/Tcraig088/tomobase.git
[submodule "submodules/tomoacquire"]
	path = submodules/tomoacquire
	url = https://github.com/Tcraig088/tomoacquire.git
[submodule "submodules/tdtomonapari"]
	path = submodules/tdtomonapari
	url = https://github.com/Tcraig088/tdtomonapari.git
[submodule "submodules/tdcontroller"]
	path = submodules/tdcontroller
	url = https://github.com/Tcraig088/tdcontroller.git
[submodule "submodules/tomondt"]
	path = submodules/tomondt
	url = https://github.com/TCraig088/tomondt.git
[submodule "submodules/tomopackets"]
	path = submodules/tomopackets
	url = https://github.com/TCraig088/tomopackets.git
